<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!--=============== FLATICON ===============-->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />

    <!--=============== SWIPER CSS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/css/tiny-slider.css">
    <link rel="stylesheet" href="/css/stylethree.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark " arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" href="/">Lapedge</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">

                    <li><a class="nav-link" href="/">Home</a></li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>

                    <% if(userCredit){ %>
                        <li><a class="nav-link" href="/logout">Logout</a></li>
                    <% }else{ %>
                        <li><a class="nav-link" href="/login">Login</a></li>
                    <% } %>
                    <li><a class="nav-link" href="/wishlist">wishlist</a></li>
                    
                </ul>
                <!-- <div class="header__search">
                    <input
                      type="text"
                      placeholder="Search For Items..."
                      class="form__input"
                    />
                    <button class="search__btn">
                      <img src="/img/search.png" alt="search icon" />
                    </button>
                  </div> -->
                

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <% if(userData?._id){ %>
                   
                    <li><a class="nav-link" href="/account/<%=userData._id %>"><img src="/images/user.svg"></a></li>
                    <% } %>
                    <li><a class="nav-link" href="/cart"><img src="/images/cart.svg"></a></li>
                    <!-- <li><a   class="nav-link" href="/wishlist"><img  style="width: 30px; height: 30px; margin-left: 10px;" src="/images/2055203-ff9800.svg"></a></li> -->




                </ul>
            </div>
        </div>
        
</body>
</html>