/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #f5f5f5;
}

.main-div {
    display: flex;
    background-color: #000000;
}

.hello {
    background-color: #000000; /* Sidebar background color */
    color: white;
    height: 100%;
    width: 250px; /* Set sidebar width */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    overflow-y: auto; /* Allow scrolling if content exceeds height */
}

.hello {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 250px; /* Sidebar width */
    height: 100vh;
    background-color: #000000; /* Set background color to black */
    /* Adjust padding to fit content below navbar */
}

.containerCreateProduct {
    background-color: #0A0A0A;
    border-radius: 6px;
    max-width: 800px;
    margin: 100px auto;
    padding: 40px;
    width: 100%;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffa500;
}

.product-form label {
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
}

.product-form input,
.product-form textarea,
.product-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #0A0A0A;
    color: #fff;
}

textarea {
    resize: none;
    height: 120px;
}

.submit-button {
    padding: 8px;
    background-color: #ffa500;
    color: #000000;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    margin: 0 auto;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #FFAB00;
}

.crop-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content img {
    max-width: 600px;
    height: auto;
    border-radius: 8px;
}

#saveCrop,
#cancelCrop {
    margin-top: 20px;
    background-color: #ffa500;
    color: #000000;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 48%;
    font-size: 16px;
    border-radius: 4px;
}

#saveCrop:hover,
#cancelCrop:hover {
    background-color: #FFAB00;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

#imagePreview {
    margin-top: 20px;
    max-width: 300px;
    border-radius: 8px;
    object-fit: cover;
}